
.container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}



.products-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}