* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body {
    background: rgb(63,94,251);
background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
}
.container {
    width: 600px;
    margin: 100px auto;
    padding: 24px;
    background-color: white;
}

.todo-add {
    background-color: buttonface;
    padding-left: 32px;
    display: flex;
    border-radius: 30px;
    margin: 32px 0;
}

input {
    border: none;
    background-color: inherit;
    font-size: 1.2rem;
    outline: none;
    flex-grow: 2;
}

button {
    border: none;
    background-color: orangered;
    border-radius: 30px;
    padding: 16px;
    font-size: 1.2rem;
    color: white;
    flex-grow: 1;
    cursor: pointer;
}


.circle {
    width: 24px;
    height: 24px;
    border: 2px solid gray;
    border-radius: 50%;
}

section { 
    display: flex;
    justify-content: space-between;
    margin: 24px 0;
    cursor: pointer;
}

article {
    
    padding: 8px 0;
    display: flex;
    flex-grow: 2;
    gap: 24px;
}

article.active .circle{
    background-image: url(./check.svg);
    background-repeat: no-repeat;
    background-size: 16px;
    background-position: center;
    background-color: orangered;
}

article.active p {
    text-decoration:line-through;
    color: #555;
}

span {
    border-radius: 50%;
    
    width: 44px;
    height: 44px;
    text-align: center;
}

span:hover {
    background-color: gray;
}